<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Data Driven Basics">
	<listeners> 
		<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
		<listener class-name="com.w2a.listeners.CustomeListner"></listener>
	</listeners>
  <test thread-count="5" name="LoginTest">
    <classes>
      <class name="com.w2a.base.TestBase"/>
      <class name="com.w2a.testcases.LoginTest"/>
    </classes>
  </test> <!-- LoginTest -->
</suite> <!-- Data Driven Basics -->
